# gitattributes
# explict configure for gpg / asc so we can diff them
*.gpg filter=gpg diff=gpg
*.asc filter=gpg diff=gpg

*.key filter=git-crypt diff=git-crypt
secretdir/** filter=git-crypt diff=git-crypt
git_ssh text eol=lf
repo text eol=lf
hooks/* text eol=lf

*.md     text
*.sh     eol=lf
*.xml    text
*.yml    text
.gitattributes text
KEY      text
LICENSE* text
# avoid merge conflicts in CHANGELOG
/CHANGELOG.md		merge=union

